 /* CORPO DA PAGINA */
 body {
    background-color:rgb(195, 220, 228);
    background-size: 100%;
    width: 100%;
    right: 100%;
 }
 #interface {
    width: auto;
 }
 #topo {
    background: #f3c923;
 }
 /* Formatação de menu */
 .menu ul{
   padding: 0;
 }
 .menu ul ul {
   display: none;
 }
 .menu ul li:hover > ul {
   display: grid;
   color: #9033e6;
   background-color: #fff;
 }
 nav {
   display: inline;
 }
 nav ul{
   font-family: fantasy;
   list-style: none;
   text-transform: uppercase;
   position: absolute;
   top: 6%;
   left: 50%;
   background: #e6dfdf;
   color: #e63333;
 }
 nav li {
   display: inline;
   background-color:#f3c923;
   padding: 10px;
   margin: 2px;
 }
 nav li :hover {
   background-color:#58f830;
   transition-duration: 1s;
 }
 nav a{
   color: black;
   text-decoration: none;
 }
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* IMAGEMS */
.container {
    position: relative;
    padding: 10px;
    max-width: 1850px;
    margin: 0 auto;
}
.gallery-wrapper {
    overflow-x: auto;
}
.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}
.arrow-left, .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
}
.arrow-right {
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}
.arrow-left:hover, 
.arrow-right:hover {
    opacity: 1;
}
.item {
    width: 650px;
    height: 380px;
    flex-shrink: 0;
    opacity: 0.5;
    border: 5px solid #fff;
    transition: all 600ms ease-in-out;
}
 .current-item {
    opacity: 1;
 }
 .gallery-wrapper::-webkit-scrollbar  {
    display: none;
 }
 .img {
    width: 100%;
 }
 /* FORMULARIO */
.grupo{
  margin-left: 20px;
  margin-right: 700px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
input {
  font-size: 100%;
  margin: 2px;
  line-height: 1;
  cursor: pointer;
  position: relative;
  overflow: visible;
  padding: 0.600em 3em;
  font-weight: 700;
  border-radius: 3px;
  left:auto;
  color: #515151;
  background-color: #ebe9eb;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
form {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
